@media only screen and (min-width: 768px) {

   main {
       max-width: 1000px;
       margin: 0 auto;
       padding: 2rem;
   }

   .colors {
       flex-direction: row;
   }

   .color-card {
       flex: 1;
       min-width: 220px;
   }

   .desktop {
       grid-template-columns: repeat(3, 1fr);
   }

   .full {
       grid-column: 1 / -1;
   }

}